{{ $isLocal := (or (eq .Site.BaseURL "/") (strings.Contains .Site.BaseURL "localhost")) }}
{{ $locationPrefix := .Site.Params.uniNavHeaderLocationPrefix | default "https://qgis.org" }}
{{ $logoIcon := .Site.Params.uniNavHeaderLogoIcon | default "img/qgis-cameroun-icone-512.png" }}


<qg-top-nav
    breakpoint="1024"
    class="is-highest navbar is-fixed-top"
    location-prefix="{{ $locationPrefix }}"
    logo-icon="{{ $logoIcon | absURL }}"
    logo-link="{{ .Site.BaseURL }}"
    second-menu-prefix="{{ .Site.BaseURL }}"
    secondary-menu-config="{{ "config/navigation.json" | absURL }}"
></qg-top-nav>
